*.o
*.d
*.a
a.out
megaphone
phonebook
zombie
brain
violence
sed
harl
harlFilter
clapTrap
scavTrap
fragTrap
diamondTrap
catDog
abstract
Bureaucrat
form
aForm
intern
convert
serialization
identify
whatever
test
array
easy_find
span
mutated_abomination
btc
RPN
PmergeMe
.vscode/
.DS_Store
